$radius: 3px;

// Custom Colors
$white: #fafafa;
$black: #212121;
$orange: #FF5722;
$yellow: #FFEB3B;
$green: #8BC34A;
$turquoise: #009688;
$cyan: #26C6DA;
$blue: #3F51B5;
$purple: #9C27B0;
$red: #D32F2F;

// Import Bulma
@import "node_modules/bulma/bulma"
