html {
    background-color: #eeeeee;
}

.check {
    transform: scale(1.3);
}

.checkInput {
    height: 1.5em;
}

#updateInterval {
    width: 5em;
}

#urlInput {
    width: 20em;
}

label {
    align-items: center;
}

.option * {
    vertical-align: middle !important;
}
