html, body {
    /* background-color: #eeeeee; */
	display: flex;
	flex-direction: column;
	height: 100vh;
	/* justify-content: stretch; */
	/* position: relative; */
}

.check {
    transform: scale(1.3);
}

#updateInterval {
    width: 5em;
}

#urlInput {
    width: 20em;
}

label {
    align-items: center;
}

.option * {
    vertical-align: middle !important;
}

iframe {
	background-color: transparent;
	border: 0;
	width: 100%;
    overflow: scroll !important;
    scrollbar-width: none;
}

.tabs.is-toggle a {
    border-style: none;
    color: hsl(0, 0%, 86%);
}

.tabs.is-toggle a:hover {
    color: black;
}
