body {
    /* overflow: show; */
    /* white-space: nowrap; */
    /* width: fit-content; */
    /* width: -moz-fit-content; */
    width: 500px;
}

.title, .blacklist {
    text-align: center;
}

.modal-content {
    max-height: calc(100vh - 30px) !important;
}
